/*

	Informania

*/

#container, #header, #content, #nav, #breadcrums, #leftColumn, #rightColumn, #footer{
	border: 1px dashed gray;
}



/*	Header	*/

#header{
	background: url('../img/start_header.jpg');
}

#header h1 a img{
	height: 180px;
	margin: 20px;
}

#nav ul{
	margin: 0;
	padding: 0;
}

#nav ul li{
	display: inline-block;
	margin: 0;
	width: 214px;
	margin: 0 10px;
	text-align: center;
}

#nav ul li:first-of-type{
	margin: 0 10px 0 0;
}

#nav ul li:last-of-type{
	margin: 0 0 0 10px;
}

/*	News	*/

.news{
	background-color: #a3a3a3;
	clear: both;
}

.news span{
	background-color: #eeeeee;
	display: block;
	height: 250px;
	width: 200px;
	float: left;
}
.clear{
	clear: both;
}